<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="author" content="Martin Gerez">
    <meta name="description" content="curriculum de Martin Gerez" >
    <meta name="keywords" content="curriculum, martin gerez, tucuman, argentina">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Martin Gerez Curriculum" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
