body{
	background: $morning-sunshine;
	font-family: $ubuntu;
}

.botones{
	padding: 10px;
	a{
		@include redondo(10px);
		@include link-boton(5px);

		background: $iron-liege;
		color: $raziel-purple;
	}
}

h1{
	@include texto-centrado;
	color: $raziel-purple;
}

p{
	@include texto-centrado;
	color: $raziel-purple;
}
li{
	padding: 10px;
}
.tamaño{
	@include tamaño-redes(60px,60px);
}

#fb{
	@include retardo-animacion($ret-2);
}
#tw{
	@include retardo-animacion($ret-3);
}
#insta{
	@include retardo-animacion($ret-4);
}
#mail{
	@include retardo-animacion($ret-4 + 0.5s);
}
#principal{
	@include retardo-animacion($ret-1)
}
#texto-index{
	@include retardo-animacion($ret-3);
}
#botones-index{
	@include retardo-animacion($ret-4);
}
#frase{
	padding: ($tamaño-frase * 2);
	font-size: $tamaño-frase;
}
#parrafo{
	padding: 20px;
	font-size: $tamaño-parrafos;
}
.retardo{
	@include retardo-animacion($ret-1);
}
.retardo-2{
	@include retardo-animacion($ret-2);
}