$ubuntu:'Ubuntu', sans-serif;
$raziel-purple: #644CC7;
$raziel-lilac: #9488C7;
$iron-liege: #D3CCEF;
$morning-sunshine: #FDFCE5;
$vanilla: #FFFDCC;

$ret-1: 0.5s;
$ret-2: 1s;
$ret-3: 1.5s;
$ret-4: 2s;

$tamaño-frase: 20px;
$tamaño-parrafos: 18px;