@mixin redondo($radio){
	-moz-border-radius: $radio;
	-webkit-border-radius: $radio;
	border-radius: $radio;
	-khtml-border-radius: $radio;
}
@mixin link-boton($x){
	text-decoration: none;
	padding: $x ($x * 2);
}
@mixin texto-centrado{
	text-align: center;
	text-decoration: none;
	//color: white;
}
@mixin tamaño-redes($x,$y){
	width: $x;
	height: $y;
}
@mixin retardo-animacion($tiempo){
	-webkit-animation-delay: $tiempo;
    animation-delay: $tiempo;
}
@mixin margen-arriba($espacio){
	margin-top: $espacio;
}