---
title: Conocimientos | Martin Gerez
---

<h1 class="animated fadeIn retardo">Esto es lo que sé.</h1>
<div class="animated fadeIn retardo-2">
	<p id="parrafo">Soy estudiante de 3er año de la carrera de Ingeniería en Sistemas de Información de la UTN-FRT</p>

	<p id="parrafo">Formo parte de un proyecto de investigación de la facultad.</p>

	<p id="parrafo">Mi inglés es de nivel medio</p>

	<p id="parrafo">De programación tengo nivel medio en: HTML, CSS, JAVA, C, RUBY</p>

	<p id="parrafo">Mi título de la secundaria es en Comunicación, Arte y Diseño.</p>
</div>

<div class="botones" align="right">
	<a href="index.html">Volver</a>
	<a href="contacto.html">Contacto</a>

</div>