---
title: Contacto | Martin Gerez
---

<h1 class="animated fadeIn retardo">Mis contactos</h1>

<ul align="center">
	<li><a href="https://www.facebook.com/MartinchoooG" ><img src="images/fb.png"class="tamaño animated fadeIn" id="fb"></a></li>

	<li><a href="https://twitter.com/TinGerez"><img src="images/tw-sinfondo.png" class="tamaño animated fadeIn" id="tw"></a></li>

	<li><a href="https://instagram.com/martingerez/"><img src="images/insta-sinfondo.png" class="tamaño animated fadeIn" id="insta"></a></li>

	<li><a href="mailto: edmargerez@gmail.com"><img src="images/gmail-sinfondo.png" class="tamaño animated fadeIn" id="mail"></a></li>
</ul>

<div class="botones" align="right">
	<a href="index.html">Volver</a>
	<a href="conocimientos.html">Conocimientos</a>

</div>
