---
title: Curriculum Martin Gerez
---

<section>
	<div align="center">
		<img src="images/martin-gerez.png" alt="martin gerez" class="animated fadeIn" id="principal">
	</div>
</section>

<div class="animated fadeIn" id="texto-index">
	<h1>Martin Gerez</h1>

	<p>Soy nacido en Santiago del Estero, actualmente vivo en San Miguel de Tucuman, <br/> soy estudiante de Ingeniería en Sistemas de Información en la UTN-FRT.</p>
	<p id="frase">"Nunca pares, nunca te conformes, hasta que lo bueno sea mejor y lo mejor sea excelente".</p>
</div>

<div class="botones" align="center">
	<a href="contacto.html">Contacto</a>
	<a href="conocimientos.html">Conocimientos</a>
</div>